<% layout("/layouts/boilerplate") %>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h2>Edit your listings</h2>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"
        enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please Enter Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea name="listing[description]" class="form-control" required>
        <%= listing.description %></textarea>
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please Enter description</div>
        </div>

        <div class="mb-3">
          Original listing image <br />
          <img class="mt-1 rounded d-block" src="<%= originalImageUrl %>">
        </div>

        <div class=" mb-3">
          <label for="image" class="form-label">Upload new image</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>



        <div class=" row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />
            <div class="valid-feedback">Done</div>
            <div class="invalid-feedback">Please Enter Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
            <div class="valid-feedback">Done</div>
            <div class="invalid-feedback">Please Enter country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">location</label>
          <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
          <div class="valid-feedback">Done</div>
          <div class="invalid-feedback">Please Enter location</div>
        </div>
        <button class="btn btn-dark edit-btn mb-3">Edit</button>
      </form>
    </div>
  </div>

  <!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a new List</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <input name="listing[title]" value="<%=listing.title%>" type="text" />
      <br /><br />
      <textarea name="listing[description]" type="text">
      <%= listing.description %></textarea
      >
      <br /><br />
      <input name="listing[image]" value="<%=listing.image%>" type="text" />
      <br /><br />
      <input name="listing[price]" value="<%=listing.price%>" type="number" />
      <br /><br />
      <input
        name="listing[location]"
        value="<%=listing.location%>"
        type="text"
      />
      <br /><br />
      <input name="listing[country]" value="<%=listing.country%>" type="text" />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html> -->